<mat-card *ngIf="!story" class="loading-skeleton">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card (click)="openLink(story.url)" *ngIf="story?.url">
    <mat-card-header>
      <mat-card-title>{{ story?.title }}</mat-card-title>
      <mat-card-subtitle
        >{{ story?.score }} points by
        <span class="author">{{ story?.by }}</span></mat-card-subtitle
      >
      <mat-card-subtitle>({{ story?.url | domain }})</mat-card-subtitle>
    </mat-card-header>
  </mat-card>