.stories-list {
    padding: 4rem 1rem 1rem;
    position: relative;
}

mat-spinner {
    margin: 2rem auto;
}

mat-progress-bar {
    top: 64px;
}

@media only screen and (max-width: 599px) {
    mat-progress-bar {
        top: 56px;
    }
}